<!DOCTYPE html>
<html>
    <h1>Welcome!</h1>
    <nav>
        <a href = '/'>Main</a>
        <ul>
            <li>Name: </li>
            <li>Email: </li>
        </ul>
    </nav>
    <form method='post' action = '/logout'>
        <button>Logout</button>
      </form>
</html>