<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class = "images">
        <% content.forEach(image => { %>
            <div class = "container">
                <img src = <%= image.filepath %>>
            </div>
        <% }); %>
    </div>
</body>      
</html>