<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav>
      <a href = '/login'>Login</a>
      <a href = '/register'>Register</a>
      <a href = '/home'>Home</a>
    </nav>
    <form method='post' action = '/logout'>
      <button>Logout</button>
    </form>
</body>
</html>